[submodule "web_week10_lab10_todo"]
	path = web_week10_lab10_todo
	url = https://github.com/minneapolis-edu/web_week10_lab10_todo
[submodule "basic-todo-express"]
	path = basic-todo-express
	url = git@github.com:minneapolis-edu/basic-todo-express.git
[submodule "basic-todo-mongoose"]
	path = basic-todo-mongoose
	url = https://github.com/minneapolis-edu/basic-todo-mongoose
[submodule "basic-todo-mongoose-with-users"]
	path = basic-todo-mongoose-with-users
	url = https://github.com/minneapolis-edu/basic-todo-mongoose-with-users
